html, body { background: #fff; font: 1.4em Helvetica, Arial, sans-serif; letter-spacing: -2px; }
body { width: 1000px; margin: 40px auto; text-align: center; }
form input#query { border: none; border-bottom: 2px #333 dotted; width: 300px; text-align: center; }
form input#submit { background: #fff; border: none; padding: 0 10px 4px 10px; color: #E2C822; cursor: pointer; }
div#loader { margin: 40px; }
div#results { margin: 40px 0 10px 0; }
div#results span { padding: 10px; }
div#results span.success { background: #AADAAA; border-bottom: 1px #188D18 solid; }
div#results span.failure { background: #FDC2C2; border: 1px #DA2727 solid; }
div#permalink a { font-size: .5em; color: #555; letter-spacing: 0em; text-decoration: underline; }
:focus { outline: none; }
